{
  "s3Prefix": "",
  "region": "",
  "ecrUrl": "",
  "ecsClusterName": "",
  "ecsDeploymentRegion": "",
  "composeGitUrl": "",
  "devopsRepoUrl": "",
  "composePath": "",
  "kubernetesPath": "",
  "kubernetesClusterName": ""
}
