{
  "bucketPrefix": "",
  "region": "",
  "ecrUrl": "",
  "ecsClusterName": "",
  "ecsDeploymentRegion": "",
  "ecsS3EnvUrl": "",
  "composeGitUrl": "",
  "devopsRepoUrl": "",
  "composePath": "",
  "kubernetesEksPath": "",
  "kubernetesClusterName": "",
  "eksctlPath": "",
  "eksctlS3EnvPath": ""
}
