{
  "s3SecretName": "",
  "s3BucketPrefix": "",
  "s3eksctlEnvPath": "",
  "s3microserviceEnvPath": "",
  "devopsRepoUrl": "",
  "ecrRepositoryUrl": "",
  "region": "",
  "kubernetesClusterName": "",
  "kubernetesEksPath": "",
  "eksctlPath": ""
}
